Package: opengist
Version: 1.5.2
Section: utils
Priority: optional
Architecture: arm64
Maintainer: Thomas Miceli <thomiceli@github.com>
Depends: adduser
Homepage: https://github.com/thomiceli/opengist
Description: Self-hosted pastebin powered by Git, open-source alternative to Github
 Gist. Opengist is a self-hosted pastebin powered by Git. All snippets are
 stored in a Git repository and can be read and/or modified using standard Git
 commands, or with the web interface. It is similar to GitHub Gist, but 
 open-source and could be self-hosted.
