[Desktop Entry]
Name=Opengist
GenericName=Opengist
Version= 1.7.3
Comment=Start Opengist server
Type=Application
Icon=opengist
Categories=Utility;
Exec=opengist --config "/etc/opengist/config.yml"
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
